.home-container {
  padding: 2rem;
}
.controls-wrapper {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

@media screen and (min-width: 728px) {
  .cards-wrapper {
    justify-content: space-between;
  }
}