.card-container {
  max-width: 300px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--elements);
  box-shadow: var(--box-shadow);
}
.country-flag {
  /* max-width: 100%; */
  width: 300px;
  height: 199px;
}
.country-title {
  padding: 1rem 1.5rem 1rem 1.5rem;
}
dl {
  padding: 0 0 2.5rem 1.5rem;
}
dt {
  font-weight: 600;
}
dd {
  display: inline;
}
dt::after {
  content: ": ";
}
dt, dd {
  display: inline;
}