.header-container {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--elements);
  box-shadow: var(--box-shadow);
}

.header-title {
  font-size: var(--home-page-body-text-size);
}
