* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text);
  transition: all 3s ease-in-out;
}

:root {
  font-family: 'Nunito Sans', sans-serif;
  --home-page-body-text-size: 14px;
  --details-page-body-text-size: 16px;

  --text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
  --background: hsl(0, 0%, 98%);
  --elements: hsl(0, 0%, 100%);
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 5px 0px;
}

[data-theme="dark"] {
  --text: hsl(0, 0%, 100%);
  --background: hsl(207, 26%, 17%);
  --elements: hsl(209, 23%, 22%);
}

body {
  background-color: var(--background);
}