* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Nunito Sans', sans-serif;
  --home-page-body-text-size: 14px;
  --details-page-body-text-size: 16px;

  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-background: hsl(0, 0%, 98%);
  --standard-white: hsl(0, 0%, 100%);
  --light-mode-box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 5px 0px;

  --dark-mode-background: hsl(207, 26%, 17%);
  --dark-mode-elements: hsl(209, 23%, 22%);
}

body {
  background-color: var(--light-mode-background);
}